@font-face {
  font-family: "Monotype Corsiva";
  font-style: normal;
  font-weight: normal;
  src: local("Monotype Corsiva Regular"), url("MTCORSVA.woff") format("woff");
}
:root {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-overflow-scrolling: touch !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e08f62;
  background-image: url("bg_gradient.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
}

header, section, footer {
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 101;
}

.height {
  min-height: 100vh;
}

.nav {
  width: 100%;
}
.navSection {
  position: relative;
  z-index: 999;
}
.navSection__toggler {
  display: none;
}
.navSection__buttons {
  display: none;
}
.navSectionContainer .school__logo {
  min-width: 0px;
  min-height: 0px;
  height: 75px;
  margin: -30px 0;
  width: 0px;
  background-position: -75px center;
}
.navSectionContainer .school__logo--show {
  background-position: center center;
  width: 75px;
}
.nav--forHeader {
  position: absolute;
  padding: 52px 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  max-width: 1920px;
}
.nav--forTabs {
  width: 90vw;
  margin: 0 auto;
  padding: 115px 0 20px 0;
  text-align: center;
}
.nav--forFooter {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.nav--forFooter > * {
  flex-shrink: 0;
}
.navScroll {
  height: 50px;
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
}
.navScroll .btn {
  max-height: 36px;
}
.navScroll__toggler {
  height: 36px;
  width: 36px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  position: relative;
  z-index: 10001;
}
.navScroll__container {
  display: none;
}
.navScroll__container .school__logo {
  display: inline-block;
  min-width: 0px;
  min-height: 0px;
  width: 75px;
  height: 75px;
  margin: -50px 0;
}
.navScroll .navScroll__buttons {
  display: block;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin: auto;
}
.nav__link--forScroll {
  color: #ae400a;
  margin-right: 20px;
  padding: 0 3px;
  font-weight: 500;
  border-radius: 50%;
}
.nav__link--forScroll:hover {
  font-weight: 600;
  margin-right: 19px;
}
.nav__link--forTabs {
  font-weight: 500;
  font-size: 18px;
  padding: 8px 20px 7px 20px;
  margin: 0 3px;
  border-radius: 17px;
}
.nav__link--forTabs--active, .nav__link--forTabs:hover {
  background: #fff;
  color: #d06f3c;
  font-weight: 700;
}
.nav__link--forFooter {
  font-weight: 400;
  margin: 0;
  margin-right: 10px;
  opacity: 0.8;
}
.nav__link--forFooter:hover {
  opacity: 1;
}
.nav__link--achievements_backToTop {
  display: block;
}

.boxContainer {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 6px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 90vw;
  margin: 0 auto;
}
.sectionForScroll {
  background-color: #fff;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.05) 100%);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
  min-height: initial;
  height: 100%;
  max-height: 50px;
  position: fixed;
  opacity: 0;
  top: 0;
  z-index: 110;
  transition: all 0.1s ease-in-out;
}
.sectionForScroll .navScroll__toggler {
  display: block !important;
}
.sectionForHeader {
  min-height: initial;
  z-index: 109;
}
.sectionForHeader, .sectionForScroll {
  display: flex;
  justify-content: center;
}
.sectionHeader {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sectionHeader--alignRight {
  align-items: flex-end;
}
.sectionNotification {
  background: rgba(255, 197, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #2c1a07;
  text-shadow: none;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 20px;
}
.sectionContainer {
  flex: 1;
  min-height: 500px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.sectionContainer--noTabs {
  padding-top: 85px;
  padding-bottom: 20px;
}
.sectionContainer--sticky {
  position: sticky;
  top: 70px;
}
.sectionContainer > * {
  flex: 1 1 auto;
}
.sectionContainer__single {
  padding: 20px;
}
.sectionContainer__left {
  align-items: flex-end;
  text-align: right;
}
.sectionContainer__left, .sectionContainer__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  width: 45vw;
  max-width: 45vw;
  min-height: 500px;
  padding: 20px;
  text-shadow: 0 2px 2px rgba(143, 57, 15, 0.3);
}
.sectionContainer__left--alignTop, .sectionContainer__right--alignTop {
  justify-content: flex-start;
}
.sectionContainer__left--alignLeft, .sectionContainer__right--alignLeft {
  align-items: flex-start;
  text-align: left;
}
.sectionContainer__left--noPadding, .sectionContainer__right--noPadding {
  padding: 0px;
}
.sectionContainer__left--23, .sectionContainer__right--23 {
  width: 66.66% !important;
  max-width: 66.66% !important;
}
.sectionContainer__left--13, .sectionContainer__right--13 {
  width: 33.33% !important;
  max-width: 33.33% !important;
}
.sectionContainer__heading {
  font-size: 73.88px;
  font-weight: 700;
  line-height: 61.56px;
  text-transform: uppercase;
}
.sectionContainer__author {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: initial;
  text-transform: initial;
}
.sectionContainer__subHeading {
  font-size: 33px;
  text-transform: uppercase;
}
.sectionContainer__paragraph {
  padding: 30px 0;
  width: 80%;
}
.sectionTitle {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 21px;
}

.footer {
  background-color: rgba(136, 94, 14, 0.5);
  z-index: 9999;
  width: 100%;
  height: initial;
  min-height: initial;
}
.footer .section {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .section > * {
  flex: 1;
}
.footer .copyright {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 0;
  text-align: right;
  line-height: 16px;
}
.footer .copyright, .footer .copyright a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}
.footer .copyright:hover, .footer .copyright a:hover {
  opacity: 1;
}
.footer .copyright a:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.infoContainer {
  display: none;
}
.infoContainer--active {
  display: flex;
}
.infoContainer__mover, .infoContainer__programs {
  min-width: 550px;
  min-height: 451px;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.3s ease-in-out;
}
.infoContainer__programs {
  min-width: 100%;
  overflow: hidden;
}
.infoContainer__programsImage {
  background-image: url("../images/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 264px;
  height: 310px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
.infoContainer__programsDetails {
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  padding: 3px;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: center;
  height: 132px;
}
.infoContainer__programsTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  padding: 5px;
  width: 95%;
}
.infoContainer__programsInfo {
  font-size: 16px;
  height: 0px;
  padding: 0 5px;
  transition: all 0.3s linear;
  overflow: hidden;
}
.infoContainer__programsItem {
  text-align: left;
  width: 272px;
  height: 451px;
  margin-right: 34px;
  opacity: 0.5;
  transition: all 0.3s linear;
  cursor: pointer;
}
.infoContainer__programsItem--active, .infoContainer__programsItem:hover {
  opacity: 1;
}
.infoContainer__programsItem--active:hover {
  width: 550px;
}
.infoContainer__programsItem--active:hover [class$=__programsImage] {
  width: 543px;
  height: 118px;
}
.infoContainer__programsItem--active:hover [class$=__programsInfo] {
  padding: 5px;
  height: 100%;
}
.infoContainer__programsItem--active:hover [class$=__programsDetails] {
  height: 100%;
  padding-top: 10px;
  justify-content: flex-start;
}
.infoContainer__programsNavigation {
  margin: 15px 0;
}
.infoContainer__programsNavigationItem {
  display: inline-block;
  padding: 1px;
  border-radius: 15px;
  opacity: 0.7;
  margin-right: 5px;
  cursor: pointer;
}
.infoContainer__programsNavigationItem span {
  display: block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 15px;
}
.infoContainer__programsNavigationItem--active, .infoContainer__programsNavigationItem:hover {
  opacity: 1;
  box-shadow: 0 0 2px 1px white;
}

.scheduleContainer {
  padding: 30px 0;
}
.schedule__dateBackground {
  background-color: #fff;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 180px;
  min-height: inherit;
  height: 100%;
  grid-row: 1;
  grid-column: 1/2;
}
.schedule__item {
  display: flex;
}
.schedule__itemContainer {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1/2;
}
.schedule__itemDate, .schedule__itemTitle {
  padding: 15px;
}
.schedule__itemDate {
  width: 180px;
  text-align: right;
  color: #714D01;
  text-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  flex-shrink: 0;
}
.schedule__itemTitle {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.schedule__itemDescription {
  font-size: 14px;
  font-weight: 400;
}
.schedule__box {
  width: 100%;
  min-height: 500px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.schedule__campusTitle {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 21px;
}
.schedule__campusTitle a {
  color: #fff;
  text-decoration: none;
}

.contact__map, .contact__info {
  min-height: 500px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contact__info {
  padding: 20px;
  min-width: 550px;
  max-width: 550px;
}
.contact__infoName {
  font-weight: 700;
  font-size: 33px;
  text-transform: uppercase;
}
.contact__infoName--Smaller {
  font-size: 18px;
}
.contact__infoName--groupNamePadding {
  padding: 13px 0 7px 0;
}
.contact__infoItem {
  margin-bottom: 30px;
  overflow-wrap: break-word;
}
.contact__infoItem a {
  color: #fff;
  text-decoration: none;
}
.contactContainer {
  justify-content: flex-end;
}
.contactContainer__right {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 590px;
  width: 590px;
  max-width: 590px;
}
.contactContainer__left {
  flex: 1 !important;
  width: 100%;
  max-width: initial !important;
}
.contact__mapItem {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
}
.contact__mapItem--active {
  opacity: 1;
}

.flex {
  display: flex;
  width: 100%;
}
.flex--flexGrow-1 {
  flex-grow: 1;
}

.news {
  flex: 1;
  width: 100%;
  padding: 15px 0;
}
.news__content {
  min-height: 500px;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 15px;
}
.news__item {
  background-color: #fff;
  text-shadow: none;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  color: #6c3303;
  border-radius: 23px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 10px auto;
  display: flex;
  text-align: left;
}
.news__itemDateContainer {
  width: 72px;
  height: 91px;
  text-align: center;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.news__itemDateMonth, .news__itemDateYear {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.news__itemDateDay {
  font-size: 30px;
  font-weight: 700;
  margin: -5px auto;
}
.news__itemTitle {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #6c3303;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.13);
}
.news__itemTitle a {
  color: #6c3303;
  text-decoration: none;
}
.news__itemCategory {
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  padding: 2px 16px;
  border-radius: 7px;
  text-transform: uppercase;
  background: #c2c2c2;
  color: #fff;
}

.limit1920 {
  max-width: 1920px;
  margin: 0 auto;
}
.limit1920 .nav {
  max-width: 1920px;
}

.header {
  min-height: 625px;
  background-color: none;
  max-height: 1080px;
}
.header__body {
  padding: calc(52px * 2) 0;
  min-height: 625px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.header__subSection {
  max-width: 250px;
}
.header__subSection * {
  color: #fff;
}
.header__subSectionTitle {
  display: block;
  font-weight: 400;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;
}
.header__subSectionTitle:hover {
  opacity: 1;
}
.header__social {
  position: absolute;
  left: 22px;
  bottom: 22px;
}
.header__socialLink {
  opacity: 0.8;
  font-size: 35px;
  margin: 0 5px;
}
.header__socialLink:hover {
  opacity: 1;
}
.header__quickAnnouncements {
  position: absolute;
  text-align: right;
  right: 22px;
  bottom: 22px;
}
.header__quickAnnouncementsText {
  font-size: 14px;
}

.historyParagraph {
  padding: 15px;
  width: 100% !important;
  margin-top: 20px;
}

.school {
  color: #fff;
}
.school__logo {
  flex-shrink: 0 !important;
  background: url("logo.png") no-repeat center;
  background-size: cover;
  min-width: 130px;
  min-height: 130px;
}
.school__name {
  font-family: "Monotype Corsiva";
  font-size: 92px;
  text-shadow: 0 2px 0 rgba(134, 57, 11, 0.5);
}
.school__slogan {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: -5px;
}
.school__campus {
  margin: 25px 0;
  text-align: center;
}
.school__cta {
  margin-top: 50px;
}

.admissions {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}
.admissionsDetails {
  background: rgba(98, 36, 30, 0.3);
  padding: 15px;
  margin-bottom: 30px;
  line-height: 20px;
}
.admissions a {
  color: #fff !important;
}

.event__title {
  font-size: 28px;
  font-weight: 700;
  line-height: initial;
}
.event__details {
  margin-top: 10px;
  margin-bottom: 30px;
}
.event__details h3 {
  font-size: 20px;
}
.event__details h3:after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
  margin-top: 6px;
}

.scrollSpacer {
  height: 80px;
  margin-top: -120px;
  margin-bottom: 40px;
  position: relative;
  z-index: -99;
}

.btn {
  display: inline-block;
  border-radius: 15px;
  padding: 9px 20px 8px 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  color: #956500;
}
.btn:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.btn--campus {
  min-width: 250px;
  margin: 7px;
}
.btn--grey {
  background: #c7c7c7;
  color: #fff;
}
.btn--fontMedium {
  font-weight: 500;
}
.btn--forScroll {
  margin-left: 10px;
  min-width: 0%;
}
.btn--white {
  background: #fff;
  color: #956500;
}
.btn--dandelion {
  background: #ffa607;
  color: #fff;
}
.btn--burntOrange {
  background-color: #b72900;
  color: #fff;
}
.btn--brown {
  background-color: #b74700;
  background-image: none;
  color: #fff;
}
.btn--cta {
  padding-top: 1px;
  padding-bottom: 0px;
  min-height: 47px;
  min-width: 345px;
  line-height: 47px;
}
.btn--cta:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.main {
  display: none;
}
.main > * {
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out;
}
.main--active > * {
  opacity: 1 !important;
}
.main--admissions {
  padding-top: 50px;
}

.mainBG {
  -webkit-backface-visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 100;
}
.mainBG__layer {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}
.mainBG__layer--grids {
  background-color: rgba(113, 58, 10, 0.12);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%), url("grids.png");
  background-repeat: repeat-x, repeat;
  position: fixed;
  top: 0;
  z-index: 100;
  mix-blend-mode: overlay;
}
.mainBG__layer--image {
  background-image: url("../images/1.jpg");
  background-size: cover;
  z-index: 98;
  opacity: 0.3;
  mix-blend-mode: overlay;
  margin-bottom: -100vh;
}
.mainBG__layer--gradient {
  background-image: url("bg_gradient.jpg");
  background-size: 100% 100%;
}

.animation__fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@media (max-height: 625px), (max-width: 400px) {
  .nav--forHeader {
    padding: 37px 0;
  }

  .header__body {
    height: 100%;
  }

  .height {
    min-height: 100%;
  }
}
@media (min-height: 1080px) {
  .height {
    min-height: 1080px;
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .nav {
    width: 100%;
  }
  .navSection {
    background: #fff;
    height: 50px;
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
  }
  .navSectionContainer {
    opacity: 0;
    left: -400px;
    transition: all 0.3s ease-in-out;
  }
  .navSection__toggler {
    display: block;
  }
  .navSection__buttons {
    display: block;
  }
  .nav--forHeader {
    padding-bottom: 0 !important;
  }

  .header__subSection {
    max-width: 100%;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    left: initial;
    right: initial;
    bottom: initial;
    top: initial;
  }
  .header__subSectionContainer {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -40px;
  }

  .section {
    width: 95vw;
    max-width: 95vw;
  }
  .sectionForScroll {
    position: fixed;
    display: block;
  }

  .newsContainer {
    min-height: 0%;
    height: auto;
    max-height: none;
    flex-direction: column-reverse;
  }
  .newsContainer__left, .newsContainer__right {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 0%;
    max-height: none;
  }
  .news__content {
    min-height: 100px;
    height: auto;
  }
}
@media (max-width: 1348px) {
  .infoContainer {
    flex-direction: column;
  }
  .infoContainer__left, .infoContainer__right {
    width: initial;
    max-width: initial;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .nav--forHeader {
    padding: 37px 0;
  }
  .nav--forFooter {
    display: block;
    text-align: center;
  }

  .header__body {
    height: 100%;
  }

  .height {
    min-height: 100%;
  }

  .sectionContainer {
    text-align: left;
  }
  .sectionHeader {
    align-items: flex-start !important;
  }

  .footer .section {
    flex-direction: column;
  }
  .footer .copyright {
    text-align: center;
  }

  .school__name {
    display: none;
  }
  .school__logo {
    width: 300px;
    height: 300px;
  }
  .school__slogan {
    font-size: 36px;
    font-weight: 700;
    text-shadow: 0 2px 0 rgba(134, 57, 11, 0.5);
    letter-spacing: 0px;
  }

  .infoContainer__programs, .infoContainer__mover {
    min-width: 100%;
  }
  .infoContainer__programsImage {
    width: calc(100% - 6px);
  }
  .infoContainer__programsTitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    padding: 5px;
    width: 95%;
  }
  .infoContainer__programsInfo {
    font-size: 14px;
  }
  .infoContainer__programsItem {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: left;
    width: 100%;
  }
  .infoContainer__programsItem--active:hover {
    width: 100%;
  }
  .infoContainer__programsItem--active:hover [class$=__programsImage] {
    width: calc(100% - 6px);
    height: 90px;
  }

  .scheduleContainer {
    flex-direction: column;
  }
  .scheduleContainer__left, .scheduleContainer__right {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: none;
    height: 100%;
  }
}
@media (max-width: 900px) {
  .contactContainer {
    flex-direction: column;
  }
  .contactContainer__left, .contactContainer__right {
    flex: 1;
    width: 100%;
    max-width: 100%;
    min-height: 0%;
  }
  .contactContainer__left {
    padding: 0;
  }
  .contact__info {
    width: 100%;
    max-width: 100%;
  }
  .contact__map {
    min-height: 0%;
    border: 0 !important;
    border-radius: 0 !important;
  }
  .contact__mapContainer {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 600px) {
  .school__slogan {
    font-size: 30px;
  }

  .infoContainer__left {
    align-items: flex-start;
    text-align: left;
  }

  .sectionContainer {
    text-align: left;
  }
  .sectionContainer__subHeading {
    font-size: 25px;
  }
  .sectionContainer__heading {
    font-size: 50px;
    line-height: 40px;
  }
  .sectionContainer__paragraph {
    width: 100%;
  }

  .btn--campus {
    min-width: 345px;
  }

  .nav--forTabs {
    text-align: left;
    padding-left: 12px;
  }
  .navSection__buttons .btn {
    display: none;
  }
  .navScroll__enroll {
    display: block !important;
  }
  .nav__link--forTabs {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px 7px 10px;
    margin: 0;
    border-radius: 17px;
  }
  .nav__link--forTabs:first-child {
    border-top-left-radius: 0px;
  }
  .nav__link--forTabs--active, .nav__link--forTabs:hover {
    background: #fff;
    color: #d06f3c;
    font-weight: 700;
  }
  .nav__link--forFooter {
    display: inline-block;
    font-weight: 400;
    margin-right: 10px;
    opacity: 0.8;
  }
  .nav__link--forFooter:hover {
    opacity: 1;
  }

  .flex {
    flex-direction: column !important;
  }

  .schedule__dateBackground {
    display: none;
  }
  .schedule__box {
    min-height: 100px;
    height: auto;
  }
  .schedule__item {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .schedule__itemDate {
    display: inline;
    max-width: none;
    min-width: 320px;
    text-align: left;
    padding: 5px 5px 5px 15px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .schedule__item:first-child .schedule__itemDate {
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
  }
  .schedule__itemTitle {
    padding-top: 5px;
  }
  .schedule__itemTime {
    margin-left: 10px;
    display: inline;
  }

  .contact__info {
    min-width: 100%;
  }
}
@media (max-width: 1919px) {
  .navScroll__container {
    padding: 20px;
    padding-top: 60px;
    width: 100vw;
    min-height: 100vh;
    max-width: 400px;
    background: #fff;
    display: block !important;
    position: fixed;
    margin: 0;
    top: 0;
    left: -400px;
    opacity: 0;
    transition: left 0.3s ease-in-out;
  }
  .navScroll__container .nav__link {
    color: #ae400a !important;
    text-align: left;
    display: block;
    padding: 15px 0;
  }
  .navScroll__container .school__logo {
    display: block;
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    margin: 0;
  }
}
@media (min-width: 1920px) {
  .navScroll__toggler {
    display: none !important;
  }
  .navScroll__container {
    display: flex;
    align-items: center;
  }

  .section {
    width: 90%;
    max-width: 1920px;
  }
  .sectionContainer__left, .sectionContainer__right {
    width: 50%;
    max-width: 1920px;
    min-height: 500px;
  }
  .sectionForScroll {
    max-height: 85px !important;
    height: 85px !important;
    align-content: center;
    align-items: center;
  }
  .sectionForScroll .navScroll__toggler {
    display: none !important;
  }
  .sectionForScroll .school__logo {
    height: 75px;
    width: 75px;
    margin: 0 10px;
    background-position: center;
  }

  .school__logo {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 400px) {
  .nav__link--forTabs {
    font-size: 13px;
    padding: 8px 8px 7px 8px;
  }

  .sectionContainer__subHeading {
    font-size: 20px;
  }
  .sectionContainer__heading {
    font-size: 38px;
    line-height: 35px;
  }

  .school__logo {
    width: 80vw;
    height: 80vw;
  }
}

/*# sourceMappingURL=main.css.map */
