$breakpoint__height--Min: 625px; 
$breakpoint__height--Med: 970px; 
$breakpoint__height--Max: 1080px; 
$breakpoint__width--SmallUnfortunate: 400px;
$breakpoint__width--SmallExtreme: 600px;
$breakpoint__width--ExtraSmall: 800px;
$breakpoint__width--Small: 1024px;
$breakpoint__width--Medium: 1348px;
$breakpoint__width--Large: 1920px;


$font-weight--Bold: 700 !default;
$font-weight--SemiBold: 600 !default;
$font-weight--Medium: 500 !default;
$font-weight--Regular: 400 !default;

@font-face {
    font-family: 'Monotype Corsiva';
    font-style: normal;
    font-weight: normal;
    src: local('Monotype Corsiva Regular'), url('MTCORSVA.woff') format('woff');
    }