@import 'defaults';

$programItemFullWidth: 550px;
$programImageFullWidth: $programItemFullWidth - 7px;
$programItemMinWidth: 272px;
$programItemMinHeight: 451px;
$sectionContainerPadding: 20px;


:root {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-overflow-scrolling: touch !important;
  }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
   // scroll-behavior: smooth;
}

body {
    background-color: #e08f62;
    background-image: url('bg_gradient.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: $font-weight--Regular;
    color: #fff;
}

header, section, footer {
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 101;
}

.height {
    min-height: 100vh;
}

$navPadding: 52px;
$navHeight--forScroll: 50px;

.nav {
    width: 100%;
    
    &Section {
        position: relative;
        z-index: 999;
        &__toggler {
            display: none;
        }
        &__buttons {
            display: none;
        }
        &Container {
            .school {
                &__logo {
                    min-width: 0px;
                    min-height: 0px;
                    height: 75px;
                    margin: -30px 0;
                    width: 0px;
                    background-position: -75px center;

                    &--show {
                        background-position: center center;
                        width: 75px;
                    }
                }
            }
        }
    }

    &--forHeader {
        position: absolute;
        padding: $navPadding 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 90vw;
        max-width: 1920px;
    }

    &--forTabs {
        width: 90vw;
        margin: 0 auto;
        padding: $navHeight--forScroll + 65px 0 $navHeight--forScroll - 30px 0;
        text-align: center;
    }

    &--forFooter {
        flex-wrap: wrap;
        display: flex;
        align-items: center;

        & > * {
            flex-shrink: 0;
        }
    }

    &Scroll {
        height: $navHeight--forScroll;
        max-width: 1920px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        position: fixed;

        & .btn {
            max-height: 36px;
        }

        &__toggler {
            height: 36px;
            width: 36px;
            color: rgba(0,0,0,0.8);
            text-align: center;
            line-height: 36px;
            font-size: 20px;
            position: relative;
            z-index: 10001;
        }
        &__container {
            display: none;

            .school {
                &__logo {
                    display: inline-block;
                    min-width: 0px;
                    min-height: 0px;
                    width: 75px;
                    height: 75px;
                    margin: -50px 0;
                }
            }
        }

        & &__buttons {
            display: block;
        }
    }


    &__link {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: $font-weight--SemiBold;
        font-size: 14px;
        margin: auto;

        &--forScroll {
            color: #ae400a;
            margin-right: 20px;
            padding: 0 3px;
            font-weight: $font-weight--Medium;
            border-radius: 50%;
            &:hover {
                font-weight: $font-weight--SemiBold;
                margin-right: 19px;
            }
        }

        &--forTabs {
            font-weight: $font-weight--Medium;
            font-size: 18px;
            padding: 8px 20px 7px 20px;
            margin: 0 3px;
            border-radius: 17px;

            &--active, &:hover{
                background: #fff;
                color: #d06f3c;
                font-weight: $font-weight--Bold;
            }
        }

        &--forFooter {
            font-weight: $font-weight--Regular;
            margin: 0; 
            margin-right: 10px;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }
        &--achievements_backToTop {
            display: block;
        }
    }
}

$boxContainer--borderColor: rgba(255,255,255,0.75);

.boxContainer {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid $boxContainer--borderColor;
    border-radius: 6px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 90vw;
    margin: 0 auto;

    &ForScroll{
        background-color: #fff;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.05) 100%);
        box-shadow: 0 0 10px 5px rgba(255,255,255,0.3); //E3B337
        min-height: initial;
        height: 100%;
        max-height: $navHeight--forScroll;
        position: fixed;
        opacity: 0;
        top: 0;
        z-index: 110;
        transition: all 0.1s ease-in-out;

        & .navScroll__toggler {
            display: block !important;
        }
    }

    &ForHeader {
        min-height: initial;
        z-index: 109;
    }

    &ForHeader, &ForScroll {
        display: flex;
        justify-content: center;
    }

    &Header {
        display: flex;
        flex-direction: column;
        
        padding: 20px;
        

        &--alignRight {
            align-items: flex-end;
        }
    }

    &Notification {
        background:rgba(255,197,0,0.9);
        border: 1px solid rgba(255,255,255,0.8);
        color: #2c1a07;
        text-shadow: none;
        padding: 10px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    &Container {
        flex: 1;
        min-height: 500px;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;

        &--noTabs {
            padding-top: $navHeight--forScroll + 35px;
            padding-bottom:  $navHeight--forScroll - 30px;
        }

        &--sticky {
            position: sticky;
            top: $navHeight--forScroll + 20;
        }
    
        & > * {
            flex: 1 1 auto;
        }

        &__single {
            padding: $sectionContainerPadding;
        }
        
        &__left {
            align-items: flex-end;
            text-align: right;
        }
    
        &__right {
        }

        &__left, &__right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            flex-shrink: 0;
            width: 45vw;
            max-width: 45vw;
            min-height: 500px;
            padding: $sectionContainerPadding;
            text-shadow: 0 2px 2px rgba(143,57,15,0.3);

            &--alignTop {
                justify-content: flex-start;
            }

            &--alignLeft {
                align-items: flex-start;
                text-align: left;
            }

            &--noPadding {
                padding: 0px;
            }

            &--23 {
                width: 66.66% !important;
                max-width: 66.66% !important;
            }

            &--13 {
                width: 33.33% !important;
                max-width: 33.33% !important;
            }

        }
        
        &__heading {
            font-size: 73.88px;
            font-weight: $font-weight--Bold;
            line-height: 61.56px;
            text-transform: uppercase;
        }

        &__author {
            display: inline-block;
            margin-left: 10px;
            font-size: 16px;
            font-weight: $font-weight--Regular;
            font-style: italic;
            line-height: initial;
            text-transform: initial;
        }

        &__subHeading {
            font-size: 33px;
            text-transform: uppercase;
        }

        &__paragraph {
            padding: 30px 0;
            width: 80%;
        }
    }

    &Title {
        font-weight: $font-weight--Bold;
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 21px;
    }
}

.footer {
    background-color: rgba(136,94,14, 0.5);
    z-index: 9999;
    width: 100%;
    height: initial;
    min-height: initial;
    .section {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > * {
            flex: 1;
        }

    }
    .copyright {
        &, & a {
            color: #fff ;
            text-decoration: none;
            opacity: 0.8; 

            &:hover {
                opacity: 1;
            }
        }

        & a {
            &:hover {
                text-shadow: 0 0 5px rgba(255,255,255,0.7);
            }
        }

        margin: 0 auto;
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 0;
        text-align: right;
        line-height: 16px;
    }


}

.info {
    &Container {
        display: none;

        &--active {
            display: flex;
        }
        &__mover, &__programs {
            min-width: $programItemFullWidth;
            min-height: $programItemMinHeight;
            max-width: 100%;
            display: flex;
            flex-wrap: nowrap;
            transition: all 0.3s ease-in-out;
        }

        &__image {
            width: 100% !important;
            height: 100%;
            opacity: 1 !important;
            cursor: initial !important;
            margin: auto;
            &Item {
                width: calc(100% - 6px);
                height: calc(100% - 6px);
                margin: 3px;
                background-position: center;
                background-size: cover;
                border-radius: 3px; 
                &--vision {
                    background-image: url('../images/vision.jpg');
                }
                &--mission {
                    background-image: url('../images/mission.jpg');
                }
            }
        }

        &__programs {
            min-width: 100%;
            overflow: hidden;
            &Image {
                background-image: url('../images/2.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 3px;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                width: 264px;
                height: 310px;
                box-sizing: border-box;
                transition: all 0.3s linear;
            }
            &Details {
                border-top: 1px solid $boxContainer--borderColor;
                padding: 3px;
                display: flex;
                flex-grow: 0;
                flex-direction: column;
                justify-content: center;
                height: 132px;
            }
            &Title {
                font-weight: $font-weight--Bold;
                font-size: 30px;
                line-height: 28px;
                padding: 5px;
                width: 95%;
            }
            &Info {
                font-size: 16px;
                height: 0px;
                padding: 0 5px;
                transition: all 0.3s linear;
                overflow: hidden;
            }

            &Item{
                text-align: left;
                width: $programItemMinWidth;
                height: $programItemMinHeight;
                margin-right: 34px;
                opacity: 0.5;
                transition: all 0.3s linear;
                cursor: pointer;

                &--active, &:hover {
                    opacity: 1;
                }

                &--active {
                    &:hover {
                        width: $programItemFullWidth;
                        [class$=__programsImage] {
                            width: $programImageFullWidth;
                            height: 118px;
                        }
                        [class$=__programsInfo] {
                            padding: 5px;
                            height: 100%;
                        }
                        [class$=__programsDetails] {
                            height: 100%; 
                            padding-top: 10px;
                            justify-content: flex-start;
                        }
                    }
                }

            }

            &Navigation {
                margin: 15px 0;
                &Item {
                    display: inline-block; 
                    padding: 1px;
                    border-radius: 15px; 
                    opacity: 0.7;
                    margin-right: 5px;
                    cursor: pointer;
                    span {
                        display: block;
                        width: 10px;
                        height: 10px;
                        background: white;
                        border-radius: 15px; 
                    }
                    
                    &--active, &:hover {
                        opacity: 1;
                        box-shadow: 0 0 2px 1px rgba(255,255,255,1);
                    }
                }
            }
        }
    }
}

.schedule {
    &Container {
        padding: 30px 0;
    }

    $dateWidth: 180px;

    &__date {

        &Background {
            background-color: #fff;
            background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            width: $dateWidth;
            min-height: inherit;
            height: 100%;
            grid-row: 1;
            grid-column: 1 / 2;
        }
    }

    &__item {
        display: flex;
        &Container {
            width: 100%;
            height: 100%;
            grid-row: 1;
            grid-column: 1 / 2;
        }

        &Date, &Title {
            padding: 15px;
        }

        &Date {
            width: $dateWidth;
            text-align: right;
            color: #714D01;
            text-shadow: none;
            border-bottom: 1px solid rgba(0,0,0,0.03);
            text-transform: uppercase;
            font-size: 13px;
            font-weight: $font-weight--Medium;
            flex-shrink: 0;
        }

        &Title {
            font-size: 18px;
            font-weight: $font-weight--Medium;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &Description {
            font-size: 14px;
            font-weight: $font-weight--Regular;
        }
    }

    &__box {
        width: 100%;
        min-height: 500px;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    &__campusTitle {
        font-weight: $font-weight--Bold;	
        font-size: 30px;	
        text-transform: uppercase;	
        padding-bottom: 21px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.contact {
    &__map, &__info {
        min-height: 500px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    $contact__infoWidth: 550px;

    &__info {
        padding: 20px;
        min-width: $contact__infoWidth;
        max-width: $contact__infoWidth;

        &Name {
            cursor: pointer;
            font-weight: $font-weight--Bold;
            font-size: 33px;
            text-transform: uppercase;

            &--Smaller {
                font-size: 18px;
            }

            &--groupNamePadding {
                padding: 13px 0 7px 0;
            }
        }

        &Item {
            margin-bottom: 30px;
            overflow-wrap: break-word;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    &Container {
        justify-content: flex-end;
        &__right {
            flex-grow: 0;   
            flex-shrink: 0;
            flex-basis: $contact__infoWidth + ($sectionContainerPadding * 2);
            width: $contact__infoWidth + ($sectionContainerPadding * 2);
            max-width: $contact__infoWidth + ($sectionContainerPadding * 2);
        }
        &__left {
            flex: 1 !important;
            width: 100%;
            max-width: initial !important;
        }
    }

    &__map {
        &Item {
            opacity: 0;
            display: none;
            transition: opacity 0.3s ease-in-out;
            &--active {
                opacity: 1;
            }
        }
    }
}

.flex {
    display: flex;
    width: 100%;

    &--flexGrow-1{
        flex-grow: 1;
    }
}

.news {
    flex: 1;
    width: 100%;
    padding: 15px 0;


    &__content {
        min-height: 500px;
        height: 100%;
        width: 100%;
        text-align: left; 
        padding: 15px;
    }

    &__item {
        background-color: #fff;
        text-shadow: none;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
        color: #6c3303;
        border-radius: 23px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin: 10px auto;
        display: flex;
        text-align: left; 

        &Date {
            &Container {
                width: 72px;
                height: 91px;
                text-align: center;
                display: flex;
                flex-shrink: 0;
                flex-direction: column;
                justify-content: center;
            }
            &Month, &Year {
                font-size: 14px;
                font-weight: $font-weight--Medium;
                text-transform: uppercase;
            }
            &Day {
                font-size: 30px;
                font-weight: $font-weight--Bold;
                margin: -5px auto;
            }
        }

        &Title {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #6c3303;
            font-size: 18px;
            font-weight: $font-weight--Medium;
            padding: 10px;
            border-left: 1px solid rgba(0,0,0,0.13);

            a {
                color: #6c3303;
                text-decoration: none;
            }
        }

        &Category {
            display: inline-block;
            font-size: 11px;
            font-weight: $font-weight--Medium;
            padding: 2px 16px;
            border-radius: 7px;
            text-transform: uppercase;
            background: #c2c2c2;
            color: #fff;
        }
    }
}

.limit {
    &1920 {
        max-width: 1920px;
        margin: 0 auto;

        & .nav {
            max-width: 1920px;
        }
    }
}

.header {
    min-height: $breakpoint__height--Min;
    background-color: none;
    max-height: 1080px;
    &__body {
        padding: calc(#{$navPadding} * 2) 0;
        min-height: $breakpoint__height--Min;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    &__subSection {
        max-width: 250px;

        * {
            color: #fff;
        }

        &Title {
            display: block;
            font-weight: $font-weight--Regular;
            font-size: 11px;
            text-decoration: none;
            text-transform: uppercase;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
    &__social {
        position: absolute;
        left: 22px;
        bottom: 22px;

        &Link {
            opacity: 0.8;
            font-size: 35px;
            margin: 0 5px;

            &:hover{
                opacity: 1;
            }
        }
    }

    &__quickAnnouncements {
        position: absolute;
        text-align: right;
        right: 22px;
        bottom: 22px;

        &Text {
            font-size: 14px;
        }
    }
}

.history {
    &Paragraph {
        padding: 15px;
        width: 100% !important;
        margin-top: 20px;
    }
}

.school {
    color: #fff;
    &__logo {
        flex-shrink: 0 !important;
        background: url('logo.png') no-repeat center;
        background-size: cover;
        min-width: 130px;
        min-height: 130px;
    }
    &__name {
        font-family: 'Monotype Corsiva';
        font-size: 92px;
        text-shadow: 0 2px 0 rgba(134, 57, 11, 0.5);
    }
    &__slogan {
        font-weight: $font-weight--Medium;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: -5px;
    }

    &__campus {
        margin: 25px 0;
        text-align: center;
    }

    &__cta {
        margin-top: 50px;
    }

}

.admissions {
    text-shadow: 0 1px 2px rgba(0,0,0,0.35);
    &Details {
        background: rgba(98,36,30,0.3);
        padding: 15px;
        margin-bottom: 30px;
        line-height: 20px;
    }

    a {
        color: #fff !important;
    }
}

.event {
    &__title {
        font-size: 28px;
        font-weight: $font-weight--Bold;
        line-height: initial;
    }
    
    &__details {
        margin-top: 10px;
        margin-bottom: 30px;
        h3 {
            font-size: 20px;
            &:after {
                content: '';
                display: block;
                width: 80%;
                height: 1px;
                background: rgba(255,255,255,0.4);
                margin-top: 6px;
            }
        }

    }
}

.campus {
    &Container {
        display: flex;
    }
    &__box {
        height: 100%;
        width: 100%;
        max-width: 100%;
        padding: 15px;
        margin: auto;
    }
}

.scrollSpacer {
    height: 80px;
    margin-top: -120px;
    margin-bottom: 40px;
    position: relative;
    z-index: -99;
}

.btn {
    display: inline-block;
    border-radius: 15px;
    padding: 9px 20px 8px 20px;
    font-size: 16px;
    font-weight: $font-weight--Bold;
    text-align: center;
    text-decoration: none; 
    text-transform: uppercase;
    background-color: #fff;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    color: #956500;

    &:hover {
        box-shadow: 0 0 15px rgba(255,255,255,0.5);
    }

    &--campus {
        min-width: 250px;
        margin: 7px; 
    }

    &--grey {
        background: #c7c7c7;
        color: #fff;
    }

    &--fontMedium {
        font-weight: $font-weight--Medium;
    }

    &--forScroll {
        margin-left: 10px;
        min-width: 0%;
    }

    &--white {
        background: #fff;
        color: #956500;
    }

    &--dandelion {
        background:#ffa607;
        color: #fff;
    }

    &--burntOrange {
        background-color: #b72900;
        color: #fff;
    }

    &--brown {
        background-color: #b74700;
        background-image: none;
        color: #fff;
    }

    &--cta {
        padding-top: 1px;
        padding-bottom: 0px;
        min-height: 47px;
        min-width: 345px;
        line-height: 47px;

        &:hover {
            text-shadow: 0 0 5px rgba(255,255,255,0.5);
        }
    }
}

.main {
    display: none;
    > * {
        opacity: 0 !important;
        transition: opacity 0.3s ease-in-out;
    }

    &--active  {
        > * {
            opacity: 1 !important;
        }
    }

    &--admissions {
        padding-top: 50px;
    }
}

.hiddenNode {
    display: block;
    opacity: 0;
}

.mainBG {
    -webkit-backface-visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 100;

    & .active {
        opacity: 0.3;
    }

    &__layer {
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;

        width: 100%;
        height: 100vh;
        position: relative;

        &--grids {
            background-color: rgba(113,58,10,0.12);
            background-image: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%), url('grids.png');
            background-repeat: repeat-x, repeat;
            position: fixed;
            top: 0;
            z-index: 100;
            mix-blend-mode: overlay;
        }
        &--image {
            //background-image: url('../images/1.jpg');
            background-size: cover;
            opacity: 0;
            z-index: 98;
            mix-blend-mode: overlay;
            margin-bottom: -100vh;
            transition: opacity 0.3s ease-in-out;
            display: none;
        }

        &--gradient {
            background-image: url('bg_gradient.jpg');
            background-size: 100% 100%;
        }
    }
}

.animation {
    &__fadeOut {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
}

// Media Queries
@media (max-height: $breakpoint__height--Min), (max-width: $breakpoint__width--SmallUnfortunate) {
    .nav {
        &--forHeader {
            padding: $navPadding - 15px 0;
        }
    }
    
    .header {
        &__body {
            height: 100%;
        }
    }

    .height {
        min-height: 100%;
    }
}

@media (min-height: $breakpoint__height--Max){
    .height {
        min-height: 1080px;
        height: 100%;
    }
}

@media (max-width: $breakpoint__width--Small) {
    .nav {
        width: 100%;
        
        &Section {
            background: #fff;
            height: $navHeight--forScroll;
            max-width: 1920px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            position: fixed;

            &Container {
                opacity: 0;
                left: -400px;
                transition: all 0.3s ease-in-out;
            }

            &__toggler {
                display: block;
            }

            &__buttons {
                display: block;
            }

        }

        &--forHeader {
            padding-bottom: 0 !important;
        }
    }

    .header {
        &__subSection {
            max-width: 100%;
            padding: 10px 20px;
            text-align: center;
            position: relative;
            left: initial;
            right: initial;
            bottom: initial;
            top: initial;

            &Container {
                display: flex;
                flex-direction: column-reverse;
                margin-top: $sectionContainerPadding * -2;
            }
        }
    }

    .section {
        width: 95vw;
        max-width: 95vw;
        &ForScroll {
            position: fixed;
            display: block;
        }
    }
    
    .campus {
        &Container {
            flex-direction: column;

            .section {
                &Container {
                    &__left, &__right {
                        &--13 {
                            width: 100% !important;
                            max-width: 100% !important;
                            height: initial;
                            min-height: initial;
                        }
                    }
                }
            }
        }
    }

    .news {
        &Container {
            min-height: 0%;
            height: auto;
            max-height: none;
            flex-direction: column-reverse;
            &__left, &__right {
                width: 100%;
                max-width: 100%;
                min-width: 100%;
                min-height: 0%;
                max-height: none;
            }
        }

        &__content {
            min-height: 100px;
            height: auto;
        }
    }
}

@media (max-width: $breakpoint__width--Medium) {
    .info {
        &Container {
            flex-direction: column;

            &__left, &__right {
                min-height: 0;
                width: initial;
                max-width: initial;
                align-items: center;
                text-align: center;
            }
        }
    }
    .contact {
        &Container {
            flex-direction: column;
            &__left, &__right {
                flex: 1;
                width: 100%;
                max-width: 100%;
                min-height: 0%;
            }
            
            &__left {
                padding: 0;
            }
        }

        &__info {
            width: 100%;
            max-width: 100%;

            &Item {
                & .flex {
                    flex-direction: column;
                }
            }
        }

        &__map {
            min-height: 0%;
            border: 0 !important;
            border-radius: 0 !important;
            &Container {
                width: 100%;
                height: 200px;
            }
        }
    }
}

@media (max-width: $breakpoint__width--ExtraSmall) {
    .nav {
        &--forHeader {
            padding: $navPadding - 15px 0;
        }

        &--forFooter {
            display: block;
            text-align: center;
        }

    }
    
    .header {
        &__body {
            height: 100%;
        }
    }

    .height {
        min-height: 100%;
    }

    .section {
        &Container {
            text-align: left;
        }

        &Header {
            align-items: flex-start !important;
        }
    }

    .footer {
        .section {
            flex-direction: column;
        }

        & .copyright {
            text-align: center;
        }
    }

    .school {
        &__name {
            display: none;
        }

        &__logo {
            width: 300px;
            height: 300px;
        }

        &__slogan {
            font-size: 36px;
            font-weight: $font-weight--Bold;
            text-shadow: 0 2px 0 rgba(134, 57, 11, 0.5);
            letter-spacing: 0px;
        }
    }

    .info {
        &Container {
            &__programs, &__mover {
                min-width: 100%;
            }

            &__programs {
                &Image {
                    width: calc(100% - 6px);
                }
                &Title {
                    font-weight: $font-weight--Bold;
                    font-size: 30px;
                    line-height: 28px;
                    padding: 5px;
                    width: 95%;
                }
                &Info {
                    font-size: 14px;
                }
    
                &Item{
                    flex-grow: 1;
                    flex-shrink: 0;
                    text-align: left;
                    width: 100%;

                    &--active {
                        &:hover {
                            width: 100%;
                            [class$=__programsImage] {
                                width: calc(100% - 6px);
                                height: 90px;
                            }
                        }
                    }
    
                }
            }
        }
    }

    .schedule {
        &Container {
            flex-direction: column;

            &__left, &__right {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                min-height: 100px;
                max-height: none;
                height: 100%;
            }
        }
    }
}

@media (max-width: $breakpoint__width--ExtraSmall + 100px) {
    .contact {
        &Container {
            flex-direction: column;
            &__left, &__right {
                flex: 1;
                width: 100%;
                max-width: 100%;
                min-height: 0%;
            }
            
            &__left {
                padding: 0;
            }
        }

        &__info {
            width: 100%;
            max-width: 100%;
        }

        &__map {
            min-height: 0%;
            border: 0 !important;
            border-radius: 0 !important;
            &Container {
                width: 100%;
                height: 200px;
            }
        }
    }
}

@media (max-width: $breakpoint__width--SmallExtreme) {

    .school {
        &__slogan {
            font-size: 30px;
        }
    }

    .info {
        &Container {
            &__left {
                align-items: flex-start;
                text-align: left;
            }
        }
    }

    .section {
        &Container {
            text-align: left;
            
            &__subHeading{
                font-size: 25px;
            }

            &__heading {
                font-size: 50px;
                line-height: 40px;
            }

            &__paragraph {
                width: 100%;
            }
        }
    }

    .btn {
        &--campus {
            min-width: 345px;
        }
    }

    .nav {
        &--forTabs {
            text-align: left;
            padding-left: 12px;
        }

        &Section {
            &__buttons {
                .btn {
                    display: none;
                }
            }
        }
    
        &Scroll {
            &__enroll {
                display: block !important;
            }
        }

        &__link {
            &--forScroll {
            }
    
            &--forTabs {
                font-size: 15px;
                font-weight: $font-weight--Medium;
                padding: 8px 10px 7px 10px;
                margin: 0;
                border-radius: 17px;

                &:first-child {
                    border-top-left-radius: 0px;
                }
    
                &--active, &:hover{
                    background: #fff;
                    color: #d06f3c;
                    font-weight: $font-weight--Bold;
                }
            }
    
            &--forFooter {
                display: inline-block;
                font-weight: $font-weight--Regular;
                margin-right: 10px;
                opacity: 0.8;
    
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .flex {
        flex-direction: column !important;
    }

    .schedule {
        &__dateBackground {
            display: none;
        }

        &__box {
            min-height: 100px;
            height: auto;
        }

        &__item {
            flex-direction: column;
            margin-bottom: 10px; 
            &Date {
                display: inline;
                max-width: none;
                min-width: 320px;
                text-align: left;
                padding: 5px 5px 5px 15px;
                background-color: #fff;
                background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            &:first-child &Date {
                border-top-right-radius: 0px;
                border-top-left-radius: 4px;
            }

            &Title {
                padding-top: 5px;
            }

            &Time {
                margin-left: 10px;
                display: inline;
            }
        }
    }


    .contact {
        &__info {
            min-width: 100%;
        }
    }
}

@media (max-width: $breakpoint__width--Large - 1px)  {
    .nav {
        &Scroll {
            &__container {
                padding: 20px;
                padding-top: 60px;
                width: 100vw;
                min-height: 100vh;
                max-width: 400px;
                background: #fff;
                display: block !important;
                position: fixed;
                margin: 0;
                top: 0;
                left: -400px;
                opacity: 0;

                transition: left 0.3s ease-in-out;
                & .nav__link {
                    color: #ae400a !important;
                    text-align: left;
                    display: block;
                    padding: 15px 0;
                }

                .school__logo {
                    display: block;
                    height: 100px;
                    width: 100px;
                    background-position: center;
                    background-size: cover;
                    margin: 0;
                }
            }
        }
    }
}


@media (min-width: $breakpoint__width--Large) {
    .nav {
        &Scroll {
            &__toggler {
                display: none !important;
            }
            &__container {
                display: flex;
                align-items: center;
            }
        }
    }
    .section {
        width: 90%;
        max-width: $breakpoint__width--Large;
        &Container {
            &__left, &__right {
                width: 50%;
                max-width: $breakpoint__width--Large;
                min-height: 500px;
            }
            
        }

        &ForScroll {
            max-height: 85px !important;
            height: 85px !important;
            align-content: center;
            align-items: center;

            & .navScroll__toggler {
                display: none !important;
            }

            .school__logo {
                height: 75px;
                width: 75px;
                margin: 0 10px;
                background-position: center;
            }
        }
    }
    .school {
        &__logo {
            width: 250px;
            height: 250px;
        }
    }
}

@media (max-width: $breakpoint__width--SmallUnfortunate) {
    .nav {
        &__link {
            &--forTabs {
                font-size: 13px;
                padding: 8px 8px 7px 8px;
            }
        }
    }

    .section {
        &Container {
            &__subHeading {
                font-size: 20px;
            }
            &__heading { 
                font-size: 38px;
                line-height: 35px;
            }
        }
    }

    .school {
        &__logo {
            width: 80vw;
            height: 80vw;
        }
    }
    .schedule {
        &__item {
            &Date {
                min-width: 100%;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0; 
            }

            &:first-child &Date {
                border-top-right-radius: 5px;
            }
        }
    }
}